html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.barra-navegacao {
  background-color: #4bec66;
  color: #ffffff;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.logo{
  font-weight: 800;
  font-size: 23px;
  text-align: center;
}

.barra-navegacao ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.barra-navegacao ul li {
  margin-right: 20px;
}

.barra-navegacao ul li a {
  color: #fff;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-top: 0px;
}

.barra-navegacao ul li a:hover {
  color: #000000;
}

body.login {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.cadastro {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formulario input[type=text],
.formulario input[type=email],
.formulario input[type=password] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.botao {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #03ad61;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.botao:hover {
  background-color: #36ec73;
}

.conteudo {
  flex: 1;
}

.rodape {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: left;
  font-size: 14px;
}

.rodape p {
  margin-bottom: 10px;
}

.membros ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.membros ul li {
  margin-bottom: 5px;
  font-weight: bold;
}

.imagems {
  padding: 30px;
  width: 600px;
  height: auto;
}

.texto-direita {
  display: flex;
  align-items: center;
}
